#toggle-nav {
    padding: 8px 10px;
    border-radius: 3px;
    background-color: transparent;
    color: black;
    text-transform: uppercase;
    align-self: center;
    font-size: .7rem;
    font-weight: bold;

    @media (min-width: 769px) {
        display: none;
    }

    @media (max-width: 768px) {
        margin-right: 5px;
    }
}

.main-nav__heading {
    @media (max-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.main-nav__logo {
    line-height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;

    @media (max-width: 768px) {
        margin-left: 10px;
    }
}

.main-nav {
    box-shadow: 0 2px 10px -5px rgba(0, 0, 0, .35);
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;

    $this: &;

    @media (max-width: 768px) {
        padding: 0 10px;
        display: block;
    }

    &__menu {
        display: flex;
        background: white;

        @media (max-width: 768px) {
            display: block;
            height: 0;
            overflow: hidden;

        }


        &-item {
            list-style: none;


            &-link {
                color: #999;
                text-decoration: none;
                display: block;
                line-height: 60px;
                cursor: pointer;
                padding: 0 10px;

                @media (max-width: 768px) {
                    line-height: 40px;
                    box-shadow: 0 -1px 0 #eee;
                }

                &:hover {
                    color: black;
                }
            }

            &--active {
                #{$this}__menu-item-link {
                    color: black;
                    background: #f0f0f0;

                    &:hover {
                        color: black;
                    }
                }
            }

            &--dropdown {
                position: relative;

                #{$this}__menu-item-link {
                    @media (min-width: 769px) {
                        padding-right: 20px;
                    }
                }

                &:after {
                    top: 28px;
                    left: auto;
                    right: 5px;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: transparent;
                    border-top-color: #888;
                    border-width: 5px;

                    @media (max-width: 768px) {
                        top: 18px;
                    }
                }

                #{$this}__sub-menu {
                    list-style: none;
                    height: 0;
                    overflow: hidden;
                    transition: .5s;
                    background-color: #f0f0f0;
                    white-space: nowrap;

                    z-index: 1;

                    @media (min-width: 769px) {
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                        box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .35);
                    }

                    &-item {
                        padding: 10px 15px;


                        &-link {
                            color: #999;
                            display: block;
                            text-decoration: none;

                            &:hover {
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}


.open {
    height: auto !important;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: arial;
    font-weight: bold;
    font-size: 18px;


    &:after {
        content: "Simple Navbar v.2\A \A Responsive navbar\Awith submenu\Ain vanilla javascript";
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        display: block;
        white-space: pre;
        color: #ddd;
        text-align: center;
        text-transform: uppercase;
        padding: 0 5%;
        font-size: 5vw;
        z-index: 0;
    }
}

header {
    position: relative;
    z-index: 1;
}